@charset "utf-8";
*{
	color:#082C5A;
}

#top_login label span{
	color:green;
	font-size:150%;
}

.treeNav li{
	margin :10px;
}
#picstyle{
	width:1360px;
	height:107px;
}
#header img{
	width:350px;
	height:110px;
	padding:5px 0 0 450px;
}