<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 映射文件的命名空间namespace的值是，与之对应的映射接口的全类名 -->
<mapper namespace="com.yc.tieba.mapper.AdminMapper">
		<select id="login" parameterType="com.yc.tieba.entity.Admin" resultType="com.yc.tieba.entity.Admin">
		select * from admin where (aid=#{aid} or aemail = #{aid}) and apassword=#{apassword}
	</select>
	<update id="updatePwd" parameterType="Admin">
		update admin set apassword=#{apassword} where aid=#{aid}
	</update>
	<select id="selectPwd" parameterType="Admin" resultType="Admin">
		select apassword from admin where aid=#{aid}
	</select>
</mapper>