<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 映射文件的命名空间namespace的值是，与之对应的映射接口的全类名 -->
<mapper namespace="com.yc.tieba.mapper.NoteMapper">
	<resultMap type="PaginationBean" id="PaginationBeanMap">
		<result column="pageSize" property="pageSize" />
		<result column="currPage" property="currPage" />
		<collection property="rows"
			column="{pageSize=pageSize,currPage=currPage,options=options}"
			select="getnote" />
	</resultMap>

	<select id="findNote" parameterType="Map" resultMap="PaginationBeanMap">
		select count(1) total, ceil(count(1) /${pageSize}) totalPage,
		${pageSize} pageSize,${currPage} currPage
		<if test="options!=null">
			,'${options}' options
		</if>
		<if test="options==null">
			,'' options
		</if>
		from note where nstatus in (0,1) and nstates in (0,1)
		<if test="options!=null">
			and (nid like '${options}%'
			or ntitle like '%${options}%'
			or ncontent like '%${options}%'
			or ntimes like '%${options}%'
			)
		</if>
	</select>

	<resultMap type="NoteInfo" id="NoteInfoMap">
		<id column="nid" property="nid" />
		<result column="ntitle" property="ntitle" /><!--column为取到的值的名字 property为类中的名称 -->
		<result column="ncontent" property="ncontent" />
		<result column="ntimes" property="ntimes" />
		<result column="nnum" property="nnum" />
		<result column="naccess" property="naccess" />
		<result column="ngood" property="ngood" />
		<result column="nstatus" property="nstatus" />
		<result column="nstates" property="nstates" />
		<association property="types" column="tid" javaType="Types">
			<id column="tid" property="tid" />
			<id column="tname" property="tname" />
		</association>
		<association property="users" column="userid" javaType="Users">
			<id column="userid" property="userid" />
			<id column="uname" property="uname" />
		</association>
	</resultMap>

	<select id="getnote" resultMap="NoteInfoMap">
		select * from
		(select n.*, rownum rn from
		(select o.*,u.uname
		uname,t.tname tname from note o,users u,types t where
		o.nstatus in (0,1)
		<if test="options!=null">
			and (o.nid like '%${options}%'
			or o.ntitle like
			'%${options}%'
			or o.ncontent like '%${options}%'
			or o.ntimes like
			'%${options}%'
			)
		</if>
		and o.userid=u.userid and o.tid = t.tid
		) n
		where ${pageSize}*
		${currPage} >= rownum)
		where
		rn>(${currPage}-1)*${pageSize}
	</select>


	<!-- 通过tid查找 -->
	<select id="findTyId" parameterType="String" resultType="String">
		select tid from types where
		tstate in (0,1)
		<if test="_parameter!=null">
			and (tid  ='${_parameter}'
			or tname  ='${_parameter}'
			)
		</if>
	</select>
	<resultMap type="PaginationBean" id="PaginationBeanMap02">
		<result column="pageSize" property="pageSize" />
		<result column="currPage" property="currPage" />
		<collection property="rows"
			column="{pageSize=pageSize,currPage=currPage,options=options}"
			select="getnote02" />
	</resultMap>

	<select id="findNoteTy" parameterType="Map" resultMap="PaginationBeanMap02">
		select count(1) total, ceil(count(1) /${pageSize}) totalPage,
		${pageSize} pageSize,${currPage} currPage
		<if test="options!=null">
			,'${options}' options
		</if>
		<if test="options==null">
			,'' options
		</if>
		from note where nstatus  in (0,1) and nstates in (0,1)
		<if test="options!=null">
			and note.tid = '${options}'
		</if>
	</select>

	<select id="getnote02" resultMap="NoteInfoMap">
		select * from
		(select n.*, rownum rn from
		(select o.*,u.uname
		uname,t.tname tname from note o,users u,types t where
		o.nstatus in (0,1)
		<if test="options!=null"> and o.tid = '${options}'
		</if>
		and o.userid=u.userid and o.tid = t.tid
		) n
		where ${pageSize}* ${currPage} >= rownum)
		where
		rn>(${currPage}-1)*${pageSize}
	</select>
	
	<!-- 通过userid查找 -->
	<select id="findUsId" parameterType="String" resultType="String">
		select userid from users where
		status in (0,1)
		<if test="_parameter !=null"> and (uname='${_parameter}'
			or userid = '${_parameter}')
		</if>
	</select>

	<resultMap type="PaginationBean" id="PaginationBeanMap03">
		<result column="pageSize" property="pageSize" />
		<result column="currPage" property="currPage" />
		<collection property="rows"
			column="{pageSize=pageSize,currPage=currPage,options=options}"
			select="getnote03" />
	</resultMap>

	<select id="findNoteUs" parameterType="Map" resultMap="PaginationBeanMap03">
		select count(1) total, ceil(count(1) /${pageSize}) totalPage,
		${pageSize} pageSize,${currPage} currPage
		<if test="options!=null">
			,'${options}' options
		</if>
		<if test="options==null">
			,'' options
		</if>
		from note where nstatus in (0,1) and nstates in (0,1)
		<if test="options!=null">
			and userid ='${options}'
		</if>
	</select>

	<select id="getnote03" resultMap="NoteInfoMap">
		select * from
		(select n.*, rownum rn from
		(select o.*,u.uname
		uname,t.tname tname from note o,users u,types t where
		o.nstatus =1
		<if test="options!=null"> and o.userid = '${options}'
		</if>
		and o.userid=u.userid and o.tid = t.tid
		) n
		where ${pageSize}* ${currPage} >= rownum)
		where
		rn>(${currPage}-1)*${pageSize}
	</select>
	<!-- 删除note -->
	<update id="deleteNote" parameterType="String">
		update note set nstatus =0
		where nid = #{ids}
	</update>

	<!-- 修改note -->
	<update id="updateNote" parameterType="NoteInfo">
		update note set nstatus
		=#{nstatus},nstates=#{nstates} where nid = #{nid}
	</update>
	
	<!-- 主页显示note -->
	<resultMap type="PaginationBean" id="PaginationBeanMapLs">
		<result property="pageSize" column="PageSize" />
		<result property="currPage" column="currPage" />
		<collection property="rows"
			column="{pageSize=PageSize,currPage=currPage}" ofType="NoteInfo"
			select="getNoteinfo" />
	</resultMap>
	<resultMap type="NoteInfo" id="indexNoteInfoMap">
		<id property="nid" column="nid" />
		<result property="ntitle" column="ntitle" />
		<result property="ncontent" column="ncontent" />
		<result property="ntimes" column="ntimes" />
		<result property="nnum" column="nnum" />
		<result property="naccess" column="naccess" />
		<result property="ngood" column="ngood" />
		<result property="nstatus" column="nstatus" />
		<result property="nstates" column="nstates" />
		<result property="nremark" column="nremark" />
		<association property="users" javaType="Users">
			<id property="userid" column="userid" />
			<result property="uname" column="uname" />
			<result property="birthday" column="birthday" />
			<result property="sex" column="sex" />
			<result property="telephone" column="telephone" />
			<result property="email" column="email" />
			<result property="address" column="address" />
		</association>
		<association property="types" javaType="Types">
			<id column="tid" property="tid" />
			<result column="tname" property="tname" />
		</association>
	</resultMap>
	<select id="indexListNote" parameterType="PaginationBean"
		resultMap="PaginationBeanMapLs">
		select count(1) total,ceil(count(1)/${pageSize})
		totalPage,${pageSize}
		pageSize ,${currPage} currPage from note where nstatus=1
	</select>
	<select id="getNoteinfo" resultMap="indexNoteInfoMap">
		select * from (
		select
		nid,ntitle,ncontent,tid,tname,userid,ntimes,nnum,naccess,ngood,nstatus,nstates,nremark,uname,password,birthday,sex,telephone,email,address,picpath,signs,num,regdate,status,previl,uremark
		, rownum rn from
		(select nid,ntitle,ncontent,types.tid
		tid,tname,note.userid,ntimes,nnum,naccess,ngood,nstatus,nstates,nremark,uname,password,birthday,sex,telephone,email,address,picpath,signs,num,regdate,status,previl,uremark
		from note inner join users on note.userid = users.userid inner join
		types on types.tid=note.tid where note.nstatus=1 order by nid desc ) n
		where ${pageSize}* ${currPage}>=rownum )
		where rn
		>(${currPage}-1)*${pageSize}
	</select>
	<!-- 根据评论数量显示前五条帖子 -->
	<select id="listNoteOrderByNum" resultType="NoteInfo">
		select n.*,rownum
		from NOTE n where n.nstatus=1 and 5>=rownum order by n.nnum desc
	</select>
	
	<select id="findNoteById" parameterType="String" resultMap="indexNoteInfoMap">
		select nid,ntitle,ncontent,types.tid
		tid,tname,note.userid,ntimes,nnum,naccess,ngood,nstatus,nstates,nremark,uname,password,birthday,sex,telephone,email,address,picpath,signs,num,regdate,status,previl,uremark
		from note inner join users on note.userid = users.userid inner join
		types on types.tid=note.tid where nid=#{nid}
	</select>
	
	<!-- 添加帖子 -->
	<insert id="insertNote" parameterType="map">
	insert into note 
	(nid,ntitle,ncontent,tid,userid,ntimes,nnum,naccess,ngood,nstatus,nstates) 
	values(note_id.nextval,'${title}','${nconent}','${tid}','${userid}',sysdate,0,0,0,1,1)
	</insert>

	
	<!-- 查询是否已经添加 -->
	<select id="findCollectNid" parameterType="String" resultType="String">
		select nid  from store where storeuserid ='${_parameter}'
	</select>
	
	<!-- 查询状态 -->
	<select id="findCollectStatus" parameterType="map" resultType="int">
		select status  from store where storeuserid ='${userid}' and  nid='${nid}'
	</select>
	<!-- 添加收藏关系 1002 1004 -->
	<insert id="collectNote" parameterType="map">
	insert into store 
	(storeuserid,nid,sttimes,status,stremark) 
	values('${userid}','${nid}',sysdate,1,'')
	</insert>
	
	<!-- 修改收藏的关系 -->
	<update id="deleteCollectNote" parameterType="map">
		update store set status
		=0  where storeuserid = '${userid}' and nid='${nid}'
	</update>
	<update id="addCollectNote" parameterType="map">
		update store set status
		=1  where storeuserid = '${userid}' and nid='${nid}'
	</update>
	


	<!-- 添加帖子时板块帖子+1 -->
	<update id="addNoteNum" parameterType="String">
		update types set tnum =tnum+1 where tid=#{tid}
	</update>

<!-- 查询用户状态是否被禁言 -->
	 <select id="findBanPStaus" parameterType="String"  resultType="int">
				 select status from users where  userid ='${_parameter}'
 	</select>
	<!-- 点赞+1 -->
	<!-- <update id="DeleteNoteDz" parameterType="string">
		update note set ngood=ngood+1 where nid=#{nid}
	</update> -->
</mapper>


